<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperSoft.ElectronicDocumentLibrary.Pax.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HyperSoft.ElectronicDocumentLibrary.Pax.Properties.Settings>
            <setting name="ClassLibrary1_TimbradoPrueba_wcfRecepcionASMX"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx</value>
            </setting>
            <setting name="ClassLibrary1_CancelacionPrueba_wcfCancelaASMX"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:453/webservices/wcfCancelaasmx.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_Timbrado_wcfRecepcionASMX"
                serializeAs="String">
                <value>https://www.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_Cancelacion_wcfCancelaASMX"
                serializeAs="String">
                <value>https://www.paxfacturacion.com.mx:453/webservices/wcfCancelaasmx.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_RegistroUsuario_wcfRegistro"
                serializeAs="String">
                <value>https://www.paxfacturacion.com.mx:455/webservices/wcfRegistro.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_RegistroUsuarioPrueba_wcfRegistro"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:455/webservices/wcfRegistro.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_TimbradoConstanciaRetenciones_wcfRecepcionASMX"
                serializeAs="String">
                <value>https://www.paxfacturacion.com.mx:458/webservices/wcfRecepcionasmx.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_TimbradoConstanciaRetencionesPrueba_wcfRecepcionASMX"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:458/webservices/wcfRecepcionASMX.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_CancelacionConstanciaRetencionesPrueba_wcfCancelaASMX"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:458/webservices/wcfCancelaasmx.asmx</value>
            </setting>
            <setting name="HyperSoft_ElectronicDocumentLibrary_Pax_CancelacionConstanciaRetenciones_wcfCancelaASMX"
                serializeAs="String">
                <value>https://www.paxfacturacion.com.mx:458/webservices/wcfCancelaasmx.asmx</value>
            </setting>
        </HyperSoft.ElectronicDocumentLibrary.Pax.Properties.Settings>
        <ClassLibrary1.Properties.Settings>
            <setting name="ClassLibrary1_TimbradoPrueba_wcfRecepcionASMX"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx</value>
            </setting>
            <setting name="ClassLibrary1_RegistroUsuarioPrueba_wcfRegistro"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:455/webservices/wcfRegistro.asmx</value>
            </setting>
            <setting name="ClassLibrary1_CancelacionPrueba_wcfCancelaASMX"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:453/webservices/wcfCancelaasmx.asmx</value>
            </setting>
        </ClassLibrary1.Properties.Settings>
    </applicationSettings>
</configuration>